
<h1>this needs to work</h1>
{{#if user}}
  <section class="profile">
    <div class="bookmarks">
      <p>{{email}}</p>
  {{#each user.bookmark}}
      <p>{{title}}</p>
      <p>{{url}}</p>
      <p>{{text}}</p>
  {{/each}}
    </div>
  </section>
{{/if}}

 {{user.bookmark}}