
<h1>this needs to work</h1>
{{#if user}}
  <section class="bookmarks">
    <div>
      <p>{{user.email}}</p>
      <div>
        <ul>
  {{#each user.bookmark}}
 
  <div class="{{id}}">
    <a href="{{url}}">{{title}}</a>
        <li>{{text}}</li>
        {{id}}
  </div>
  <div> 
    <form method="GET" action="/user/{{id}}/updateBookmark">
      <input type="submit" value="update">
    </form>
  </div>
    <div> 
    <form method="POST" action="/user/{{id}}?_method=DELETE">
      <input type="submit" value="Delete">
    </form>
  </div>
  <p></p>
  {{/each}}
  </ul>
  </div>
    </div>
  </section>

    <section class="note">
      <div>
        <ul>
  {{#each user.note}}
 
  <div class="{{id}}">
    
        <li>{{title}}</li>
        <li>{{text}}</li>
        {{id}}
  </div>
  <div> 
    <form method="GET" action="/user/{{id}}/updateBookmark">
      <input type="submit" value="update">
    </form>
  </div>
    <div> 
    <form method="POST" action="/user/{{id}}?_method=DELETE">
      <input type="submit" value="Delete">
    </form>
  </div>
  <p></p>
  {{/each}}
  </ul>
  </div>
  </section>
{{/if}}

<input type="submit" value="Add New Bookmark" class="btn waves-effect waves-light" onclick="location.href='/user/newBookmark'">

<input type="submit" value="Add New Note" class="btn waves-effect waves-light" onclick="location.href='/user/newNote'">
