
<h1>this needs to work</h1>
{{#if user}}
  <section class="profile">
    <div class="bookmarks">
      <p>{{email}}</p>
      <div>
        <ul>
  {{#each user.bookmark}}
 
  <div class="{{id}}">
    <a href="{{url}}">{{title}}</a>
        <li>{{text}}</li>
        {{id}}
  </div>
  <div> 
    <form method="GET" action="/user/{{id}}/updateBookmark">
      <input type="submit" value="update">
    </form>
  </div>
    <div> 
    <form method="POST" action="/user/{{id}}?_method=DELETE">
      <input type="submit" value="Delete">
    </form>
  </div>
  <p></p>
  {{/each}}
  </ul>
  </div>
    </div>
  </section>
{{/if}}

<input type="submit" value="Add New" class="btn waves-effect waves-light" onclick="location.href='/user/newBookmark'">

